:root {
    --bg-color-1: #141414;
    --bg-color-2: #323232;
    --bg-color-3: #414141;
    --line-color-1: #00aaff;
    --text-color-1: #ffffff;

    --font-family-1: "Source Code Pro", monospace;
    
    --font-weight-1: 300;
    --font-weight-2: 400;
    --font-weight-3: 600;
    
    --font-size-1: 0.9rem;
    --font-size-2: 1.1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.8rem;
    
    --padding-value-1: 40px;
    --padding-value-2: 30px;
    --padding-value-3: 50px;
  }

.body {
    background-color: var(--bg-color-1);
    font-family: var(--font-family-1);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-1);
}

.bg-dark {
    background-color: var(--bg-color-1)!important;
}

.bg-gray-1 {
    background-color: var(--bg-color-3)!important;
}

.bg-gray-2 {
    background-color: var(--bg-color-2)!important;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.padding-top {
    padding-top: var(--padding-value-1);
}

.padding-bottom {
    padding-bottom: var(--padding-value-1);
}

.content {
    text-align: center;
}

.mb-4.mt-3 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Dropdown styling */
.cron-dropdown {
    border: 1px solid var(--line-color-1);
    color: var(--text-color-1);
    width: 300px;
    margin: 0 auto;
    font-size: var(--font-size-2);
    text-align: center;
    transition: box-shadow 0.3s ease;
}
.cron-dropdown:focus {
    box-shadow: 0 0 8px var(--line-color-1);
}

/* Input styling */
.cron-input {
    border: 1px solid #00aaff;
    color: #ffffff;
    width: 500px;
    font-size: 1.1rem;
    text-align: center;
    transition: box-shadow 0.3s ease;
}
.cron-input:focus {
    box-shadow: 0 0 8px #00aaff;
    color: #ffffff;
}

/* Footer styling */
.footer-1 {
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 30px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

/* Footer styling */
.footer-2 {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.footer-1 a {
    color: #ffffff;
    text-decoration: none;
}

.footer-1 a:hover {
    color: #00aaff;
    font-weight: 400;
}

.footer-2 a {
    color: #ffffff;
    text-decoration: none;
}

.footer-2 a:hover {
    color: #00aaff;
    font-weight: 400;
}


.menu {
    display: flex;
    height: 50px;
    font-weight: 700;
}

.left-menu, .right-menu {
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    height: 100%;
}

.left-menu {
    padding-left: 32px;
    justify-content: flex-start;
}

.right-menu {
    padding-right: 32px;
    justify-content: flex-end;
}

.left-menu:hover, .right-menu:hover {
    color: #00a2ff;
}


/* Description styling */
#description {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
}

.desc-2 {
    margin-bottom: 2px;
}

.expression {
    font-size: 1.8rem;
    color: #ffffff;
    font-style: italic;
}
