<table>
    <tr>
        <td class="display-format">
            <span class="format-tab-word-highlight">Second</span>  
            <span class="format-tab-word-highlight">Minute</span>  
            <span class="format-tab-word-highlight">Hour</span>  
            <span class="format-tab-word-highlight">Day(of Month)</span>  
            <span class="format-tab-word-highlight">Month</span>  
            <span class="format-tab-word-highlight">Day(of Week)</span>
        </td>
    </tr>
</table>