{% extends "comp_base.html" %}

{% block content %}

<div class="content padding-top">
    <div class="mb-4 mt-3 padding-bottom">
        <label for="cronType" class="form-label">Choose A Cron Format:</label>
        <div class="cron-dropdown-wrapper">
            <select id="cronType" class="form-select cron-dropdown bg-secondary-color-1">
                <option value="standard">Standard</option>
                <option value="quartz">Quartz (Nifi)</option>
                <option value="aws">AWS</option>
                <option value="spring">Spring</option>
            </select>
            <i class="fa-solid fa-square-caret-down dropdown-icon"></i>
        </div>
    </div>

    <div class="mb-4 mt-3 width-80">
        <!-- <p class="desc-2">Cron Expression Meaning:</p> -->
        <p class = "expression">“<span id="description">Enter a cron expression to see the description here.</span>”
        </p>
    </div>

    <div class="mb-4 mt-3 padding-bottom">
        <label for="cronExpression" class="form-label">Enter Cron Expression here. Meaning is above.</label>
        <div class="cron-input-wrapper">
            <input type="text" id="cronExpression" class="form-control cron-input bg-secondary-color-1">
            <i class="fa-solid fa-copy copy-icon"></i>
        </div>
        <div id="componentContainer">
            <div id="comp_standard" class="component" style="display: none;">
                {% include 'comp_standard.html' %}
            </div>
            <div id="comp_quartz" class="component" style="display: none;">
                {% include 'comp_quartz.html' %}
            </div>
            <div id="comp_aws" class="component" style="display: none;">
                {% include 'comp_aws.html' %}
            </div>
            <div id="comp_spring" class="component" style="display: none;">
                {% include 'comp_spring.html' %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}