<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cron Master</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body class="body bg-dark text-white">
            
        <div class="menu">
            <a href="{{ url_for('index') }}" class="left-menu bg-gray-2">Cron Master Tool</a>
            <a href="{{ url_for('readme') }}" class="right-menu bg-gray-1">Plz Read Me</a>
        </div>

        <div class="content">
            <h1>Welcome to Cron Master Tool</h1>
        </div>

        <footer class="footer">
            Made with ❤️ by <a href="https://danula.xyz/linkedin" target="_blank">Danula Wanasinghe</a>
        </footer>        

    </body>
</html>